<div class="container">

    <div class="row title">
      <div class="col-sm">
          <h1> New </h1>
      </div>
      <div class="col-sm-1">
              <button type="button" class="btn btn-primary-outline" (click)="add(); taskText.value=''">
                    <span> <img src="https://img.icons8.com/color/48/000000/add.png"> </span>      
              </button>
      </div>
    </div>
  
    <div class="row">
        <ul class="tasks">
            <div class="list-group">
                  <div class="task_item col-sm-12">
                      <div class="list-group-item list-group-item-action" *ngFor='let task of tasks'>
                          <div class="d-flex w-100 justify-content-between">
                            <h3 class="mb-1" style="max-width: 900px">{{task.text}}</h3>
                            <small>{{task.status}}</small>
                          </div>
                          <br>
                          <p class="mb-1">date: {{task.creationDate | date}}</p>
                          <p class="mb-1">#{{task.tag}} id: {{task.id}}</p>
                          <div class="input-group">
                              <textarea class="form-control" aria-label="With textarea" 
                                        [(ngModel)]="task.text" (keyup)="save(task)">
                              </textarea>
                              <button type="button" (click)='onSelect(task)'> 
                                  <span><img src="https://img.icons8.com/ios/50/000000/change.png" alt="Change"></span>
                              </button>
                              <button type="button" (click)="delete(task)">
                                  <span><img src="https://img.icons8.com/doodle/48/000000/delete-sign.png" alt="Delete"></span>
                              </button>
                          </div>
                      </div>
                  </div>
            </div>
        </ul>
    </div>
  </div>

