<h1 style="text-align: center">ALL TASKS</h1>

<div class="mb-4 ml-5">
    <!-- <label >Task text:
      <input #taskText />
    </label> -->
    <!-- (click) passes input value to add() and then clears the input -->
    <!-- <button class="btn btn-primary" (click)="add(taskText.value); taskText.value=''"> -->
    <button class="btn btn-primary" (click)="add(); taskText.value=''">
      Add new task
    </button>
</div>

<ul class="tasks">
    <div class="card-columns">
  <li *ngFor='let task of tasks' >
    <div class="card border-primary mb-3" style="width: 22rem;">
        <div class="card-body">
          <h4 class="card-title">{{task.text}}</h4>
          <p class="card-text">Status: {{task.status}}</p>
          <p class="card-text">Tag: {{task.tag}}</p>  
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Task</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" [(ngModel)]="task.text"></textarea>
          </div>
        </div>
      <button class="btn btn-success" (click)="save(task)"> Save </button>
      <button class="btn btn-info" (click)='onSelect(task)'> Change status</button>
      <button class="btn btn-danger" (click)="delete(task)">Delete</button>
    </div>
    <br>
  </li>
  </div>
</ul>

  
